




<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" style="font-family:'Leckerli One', cursive; margin-left: 139px;text-shadow: 2px 2px #519695;">idea box</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
</nav>




<h3 style="color:white; font-weight: 100; font-size: -webkit-xxx-large; text-align: center; padding-top: 94px">What's on your mind?</h3>
<!-- <h4 class="subheader" style="color: white; font-weight: 100; text-align: center;">Share it here</h4>
 -->












<form action="/" method="POST" enctype='multipart/form-data'>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" id="text-field" name='idea[title]' placeholder="title" style="border-radius: 25px;"/><br/><br/>
      <textarea id="text-description" name='idea[description]' placeholder="description" style="border-radius: 25px;"></textarea><br/>
      <input type='file' name='myfile'><br/>
      <div id="buttons">
      <button type="submit" class="button radius right" id="submit-button" value="save"><i id="buttontext" class="fa fa-star fa-6"></i></button>
      <a id="simple-menu" href="#sidr" class="button radius right"><i style="padding-top: 15px;"id="buttontext" class="fa fa-lightbulb-o"></i></a>
      </div>
    </div>
  </div>
</form>


























<div id="sidr">
  <!-- Your content -->
  <h2 style="font-family:'Leckerli One', cursive; font-size: 28px;padding-top: 17px;">Ideas</h2>
  <ul>
  <% ideas.each do |idea| %>
    <li>
      <h3><%= idea.title %></h3> <br/>
      <p style="color:white; font-weight: 100; font-size: 18px; text-align: left;font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;"><%= idea.description %></p>
      <img id="imagesidebar" src="images/<%= idea.filename %>" width="200" height="100">
      <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
        <li><a><input type='submit' value="+" class="button tiny round"/><a></li>
      </form>

      <li><form action="/<%= idea.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input style="" type="submit"value="delete" class="" />
      </form><li>
      <a href="/<%= idea.id %>/edit">Edit</a>
    </li>
  <% end %>
</ul>
</div>










