




<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" style="font-family:'Leckerli One', cursive; margin-left: 139px;text-shadow: 2px 2px #519695;">idea box</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
</nav>




<h3 style="color:white; font-weight: 100; font-size: -webkit-xxx-large; text-align: center; padding-top: 94px">what's on your mind?</h3>
<!-- <h4 class="subheader" style="color: white; font-weight: 100; text-align: center;">Share it here</h4>
 -->












<form action="/" method="POST">
  <div class="row">
    <div class="large-12 columns">
      <input type="text" id="text-field" name='idea[title]' placeholder="title" style="border-radius: 25px;"/><br/><br/>
      <textarea id="text-description" name='idea[description]' placeholder="description" style="border-radius: 25px;"></textarea><br/>
      <div id="buttons">
      <button type="submit" class="button radius right" id="submit-button" value="save"><i id="buttontext" class="fa fa-star fa-6"></i></button>
      <a id="simple-menu" href="#sidr" class="button radius right"><i style="padding-top: 15px;"id="buttontext" class="fa fa-lightbulb-o"></i></a>
      </div>
    </div>
  </div>
</form>









<div id="sidr">
  <!-- Your content -->
  <ul>
    <li><a href="#">List 1</a></li>
    <li class="active"><a href="#">List 2</a></li>
    <li><a href="#">List 3</a></li>
  </ul>
</div>















<h3 style="padding-top:2000px;"> Existing Ideas </h3>
<ul>
  <% ideas.each do |idea| %>
    <li>
      <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
        <input type='submit' value="+" class="button tiny round"/>
      </form>
      <%= idea.title %> (<%= idea.id %>) <br/>
      <%= idea.description %>
      <a href="/<%= idea.id %>/edit">Edit</a>
      <form action="/<%= idea.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit"value="delete" class="button alert tiny round" />
      </form>
    </li>
  <% end %>
</ul>
