




<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" style="font-family:'Leckerli One', cursive; margin-left: 139px;text-shadow: 2px 2px #519695;">idea box</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
<!--   <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section> -->
</nav>




<h3 style="color:white; font-weight: 100; font-size: -webkit-xxx-large; text-align: center; padding-top: 94px">what's on your mind?</h3>
<!-- <h4 class="subheader" style="color: white; font-weight: 100; text-align: center;">Share it here</h4>
 -->



<form action="/" method="POST">
  <div class="row">
    <div class="large-12 columns">
      <input type="text" id="text-field" name='idea[title]' placeholder="title" style="border-radius: 25px;"/><br/><br/>
    <div>
  <div>
  <textarea id="text-description" name='idea[description]' placeholder="description" style="border-radius: 25px;"></textarea><br/>
<button type="submit" class="button radius right" id="submit-button" value="save">
                <i style="color:#519695;"class="fa fa-lightbulb-o fa-3">+</i>
</button>
</form>


















<h3 style="padding-top:2000px;"> Existing Ideas </h3>
<ul>
  <% ideas.each do |idea| %>
    <li>
      <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
        <input type='submit' value="+" class="button tiny round"/>
      </form>
      <%= idea.title %> (<%= idea.id %>) <br/>
      <%= idea.description %>
      <a href="/<%= idea.id %>/edit">Edit</a>
      <form action="/<%= idea.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit"value="delete" class="button alert tiny round" />
      </form>
    </li>
  <% end %>
</ul>
